@charset "ISO-8859-1";



.header{
	padding: 10px;
}

.mainBody{
	display: flex;
	padding: 10px;
}

.register, .login{
	margin: 10px;
	justify-content: space-between;
}

.forInput{
	display: flex;
	justify-content: space-between;
	margin: 5px;
}

.welcome {
	
	margin: 10px;
	display: flex;
	justify-content: space-between;
	text-align: center;
}

.nav {
	
	margin: 10px;
	display: flex;
	justify-content: space-between;
}

.dashBody{
	
	display: flex;
	justify-content: center;
}

.details{
	padding: 10px;
}

